h1#titulo{
    border-bottom: 2px solid #00f;
}

h2{
    border: 2px solid #aaa;
}
.datos{
    border-top: 4px dotted #f00;
    border-bottom: 4px dotted #f00;
}
.contenido{
    border-top: 2px dashed #0f0;
    border-left: 2px dashed #0f0;
    border-right: 2px dashed #0f0;
    border-bottom: 2px dashed #0f0;
}